<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codebag"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- 为了准确获取分辨率 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="a.b.c" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- 生成桌面快捷方式 -->>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:name="com.codebag.bag.CodeBag"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- <meta-data -->
        <!-- android:name="appType" -->
        <!-- android:value="codebag_appdemo" > -->
        <!-- </meta-data> -->

        <activity
            android:name="com.codebag.bag.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codebag.code.mycode.test.fragmentlife.MyFragmentActivity" />
        <activity android:name="com.codebag.code.mycode.test.fragmentlife.ViewPagerFragmentActivity" />

        <service android:name="com.codebag.code.mycode.test.servicelife.myService" />

        <activity
            android:name="com.codebag.code.mycode.test.activityconfigchange.MyActivity"
            android:configChanges="orientation|screenSize|locale|fontScale|mcc|mnc|keyboard" />
        <activity
            android:name="com.codebag.code.mycode.test.activitylife.MyActivityA"
            android:launchMode="singleTask" />
        <activity android:name="com.codebag.code.mycode.test.activitylife.MyActivityB" />

        <!-- AppWidgetProvider的注册 mythou -->
        <receiver android:name="com.codebag.code.mycode.cleanmaster.cleanmastertest.homewidget.TimeWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timewidget_info" />
        </receiver>

        <service android:name="com.codebag.code.mycode.cleanmaster.cleanmastertest.homewidget.TimerService" >
        </service>
        <service android:name="com.codebag.code.mycode.cleanmaster.cleanmastertest.audioplayerrun.MainService" >
        </service>
    </application>

</manifest>