<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.javalive09.demos">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.baidu.duer.common.permission.CUSTOMER_WEBVIEW"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="com.javalive09.ipc.permission.IPC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:icon="@mipmap/ic_launcher"
            android:name=".App"
            android:directBootAware="true"
            android:label="@string/app_name"
            android:allowClearUserData="false"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/translate">
        <activity android:name=".MainActivity"
            android:persistableMode="persistRootOnly">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".APIActivity"
        android:theme="@style/dialog" />
        <activity android:name=".activity.PostActivity"
            android:resizeableActivity="true"
            android:exported="true"/>

        <service android:name=".MyService"
            android:exported="true"/>
    </application>

</manifest>